body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#gameCanvas {
  display: block; /* Prevent inline spacing */
  background: url('https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif');
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'MinecraftFont';
  src: url('fonts/font3.woff') format('woff');
  /* Include other formats like TTF as needed */
}